@import "bower_components/foundation/scss/foundation.scss";
@import "bower_components/foundation/scss/normalize.scss";

header, main, footer, article {
  @extend .row;
}

.error {
  text-align: center;
  color: gray;
}

body {
  header {
    nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      a {
        text-align: center;
        width: 75px;

        &:hover {
          color: #CCC;
        }
      }
    }
  }

  footer {
    p {
      color: #CCC;
      font-size: 0.8em;
    }
  }
}
