$white         : #FFFFFF;
$ghost         : #FAFAFA;
$snow          : #F9F9F9;
$vapor         : #F6F6F6;
$white-smoke   : #F5F5F5;
$silver        : #EFEFEF;
$smoke         : #EEEEEE;
$gainsboro     : #DDDDDD;
$iron          : #CCCCCC;
$base          : #AAAAAA;
$aluminum      : #999999;
$jumbo         : #888888;
$monsoon       : #777777;
$steel         : #666666;
$charcoal      : #555555;
$tuatara       : #444444;
$oil           : #333333;
$jet           : #222222;
$black         : #000000;
$cinnabar      : #f04124;

$alert-color: darken($cinnabar, 20%);

@import "bower_components/foundation/scss/foundation.scss";
@import "bower_components/foundation/scss/normalize.scss";

.error {
  text-align: center;
  color: gray;
}

.alert-box {
  text-align: center;
}

body {
  header {
    #profile-image {
      border-radius: 50em;
      position: relative;
      display: inline-block;
      background: url(http://f.psychedeli.ca/assets/bm2012-f6de12ec1b81f29894bc4487b09bce21.jpg) no-repeat -94px -23px;
      width: 50px;
      height: 50px;
      border: 5px solid #EEE;
      margin-top: 22px;

      p {
        color: #EEE;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 6px;
      }
    }

    nav {
      margin-top: 30px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      a {
        text-align: center;
        width: 75px;

        &:hover {
          color: #CCC;
        }

        &.active {
          color: black;
          background: #EEE;
          border-radius: 0.25em;
        }
      }
    }
  }

  footer {
    p {
      color: #CCC;
      font-size: 0.8em;
    }
  }
}

article {
  main {
    margin-bottom: 15px;

    #more-link {
      text-align: right;
    }
  }

  footer {
    .date, .category {
      color: #BBB;
      font-weight: bold;
    }
  }
}
