<header class="row">
  <div class="large-1 columns">
    <div id="profile-image">
      <p>TS</p>
    </div>
  </div>
  <div class="large-3 columns">
    <h1>psychedeli.ca</h1>
  </div>
  <div class="large-4 columns"></div>
  <div class="large-4 columns">
    <nav>
      {{link-to 'home' 'index'}}
      {{link-to 'about' 'about'}}
      <a href="http://github.com/tubbo/blog" target="_blank">code</a>
      <a href="http://travis-ci.org/tubbo/blog" target="_blank">status</a>
    </nav>
  </div>
</header>

<main class="row">
  {{outlet}}
</main>

<footer class="row">
  <p id="last-updated">Last updated just now.</p>
</footer>
