<h1>{{categoryName}}</h1>

{{#each arrangedContent}}
  {{blog-article title=title year=year month=month day=day date=date href=href body=preview category=category}}
{{else}}
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-6 columns">
    <div class="alert-box warning radius">
      No articles found.
    </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
{{/each}}
