<div class="large-3 columns">&nbsp;</div>
<div class="large-6 columns">
  <div data-alert class="alert-box alert radius">
    <strong>Error:</strong> {{message}}
  </div>
</div>
<div class="large-3 columns">&nbsp;</div>
