{{#each controller}}
  <div class="row">
    {{partial 'article'}}
  </div>
{{else}}
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-6 columns">
    <div class="alert-box warning radius">
      No articles found.
    </div>
  </div>
  <div class="large-3 columns">&nbsp;</div>
{{/each}}
