<section class="large 12-columns" {{bind-attr id=id}}>
  <header>
    <h1>{{title}}</h1>
  </header>

  <main>
    {{body}}
  </main>

  <footer>
    <p>Last updated just now.</p>
  </footer>
</section>
